@model Actor

@{
    ViewData["Title"] = "Details of the actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.NombreActor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FotoPerfilActor" class="control-label"></label>
                        <input asp-for="FotoPerfilActor" class="form-control" readonly />
                        <span asp-validation-for="FotoPerfilActor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreActor" class="control-label"></label>
                        <input asp-for="NombreActor" class="form-control" readonly />
                        <span asp-validation-for="NombreActor" class="text-danger"></span>
                    </div>                   

                    <div class="form-group">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.IdActor">Edit</a>
                        }
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('FotoPerfilActor');
            output.src = $("#FotoPerfilActor").val();
        })
    </script>
}